@font-face {
    font-family: Ubuntu;
    src: url(Ubuntu-Regular.ttf);
    font-weight: normal;
}

body {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-size: 20px;   
}

p, h1, h2, tr, td  {
    font-family: Ubuntu;
    text-align: center;
}

h1 {
    text-shadow: 3px 3px 20px #242424;
}

a {
    font-family: Ubuntu;
    color: rgb(150, 0, 0);
}

.reference-tlacitko {
    background: #000000;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 25px;
    border-style: solid;
    border-color: rgb(155, 21, 21);
    line-height: 2;
}
